.modal-cont{
    border: 2px solid red;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.modal-body{
    max-width: 394px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;
}
.modal-body-content{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal-body-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close-icon {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #667085;
}
.modal-body-top > span{
    color: #101828;
    font-size: 18px;
    font-weight: 600;
}

.modal-text-area{
    background-color: #f9fafb;
    border: 2px solid #d0d5dd;
    border-radius: 8px;
}
.modal-text-area > textarea{
    width: 100%;
    border: none;
    background-color: #f9fafb;
}
.todo-date-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.input-time-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.input-time-group > input{
    padding: 10px 8px;
    width: 80px;
    border: 2px solid #D0D5DD;
    border-radius: 8px;
}
.todo-date-time > input{
    padding: 10px 8px;
    width: fit-content;
    border: 2px solid #D0D5DD;
    border-radius: 8px;

}
.duration{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}