.greeting{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.iconButton{
    background-color:#3F5BF6;
    color: white;
    border-radius: 4px;
    border: none;
    display: inline-flex;
    justify-content: center;
    gap: 4px;    
    font-size: 14px;
    padding: 0.625rem 1rem;
    font-weight: 600;
    height:fit-content;
    cursor: pointer;
}


.goodmorning > h1{
    margin:0;
}