.headerCont{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.dateButtons {
    display: flex;
    gap:1rem;
}

.comp1{
display: flex;
justify-content: space-between;
background-color: rgb(241, 241, 241);
margin: 1rem 0;
}
label>p{
    margin: 0 1rem;
}
.btn{
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(238, 228, 228);
    padding:10px 16px;
    
}
.btn:hover{
    background-color: rgb(65, 65, 250);
}

.btn2{
    border: none;
    background-color: white;
}
.compElement{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
.dateRight{
    position: relative;
    border: 1px solid white;
    padding: 10px;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
}
.todoAndCal{
    display: flex;
    justify-content: space-between;
}

