.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
tr>th{
    padding:2rem;
}
.previous{
    display: flex;
    align-items: center;
    gap: 1rem;
   
}
.next{
    display: flex;
    align-items: center;
    gap: 1rem;       
    }
 